/* Alap stílusok */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	overflow-x: hidden; /* Vízszintes görgetés elrejtése */
    overflow-y: auto; /* Függőleges görgetés engedélyezése */
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    
    color: #333;
}

/* Navigációs sáv stílusa */
/* Navigációs sáv stílusa */


nav {
    background-color: #333; /* Rózsaszín háttér a navigációs sávnak */
    padding: 10px 0; /* Térköz felül és alul */
    margin: 0cm; /* 5 cm margó a jobb és bal oldalról */
    text-align: center;
    border-radius: 0px; /* Lekerekített sarkok */
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Menüpontok középre igazítása */
    gap: 30px; /* Távolság a menüpontok között */
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px; /* Térköz a menüpontok körül */
    border-radius: 1px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ff1493; /* Hover állapot háttérszíne */
	text-decoration: none;
}

.content {
    padding: 20px;
}

/* Főcím stílusok */
header {
    
    color: black;
    padding: 60px 0;
    text-align: center;
    background-size: cover;
	background-color: #fff;
}

header h1 {
	color: 	#f17d95
    margin: 0;
    font-size: 2.5em;
	
}

header p {
    font-size: 1.2em;
}

/* Szakaszok stílusai */
section {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
}

/* Rácsos elrendezés */
.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.project {
    background: #f17d95; /* Rózsaszín háttér */
    color: white; /* Fekete szöveg */
    padding: 30px;
    border-radius: 50%; /* Kör alak */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center; /* Középre igazítás */
    justify-content: center; /* Középre igazítás */
    text-align: center;
    height: 200px; /* Magasság */
    width: 200px; /* Szélesség */
    margin: 0 auto; /* Középre igazítás */
}

.project:hover {
    transform: scale(1.05); /* Nagyobbítás hover effektus */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #f17d95;
}

/* Link stílusai */
a {
    color: #ea1474;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
